@tailwind base;
@layer base {
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-3xl font-bold;
    }
    a {
        @apply text-blue-700 underline;
    }
    p {
        @apply py-3 text-base text-gray-800;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply mb-3 mt-5;
    }
}
@tailwind components;
@tailwind utilities;

.story {
    @apply bg-white rounded-lg p-4 mt-14 shadow-xl md:p-8 md:mt-28;
}
.btn-primary {
    @apply p-3 px-6 text-center text-white bg-blue-700 rounded-md hover:bg-blue-600 hover:text-blue-100;
}

.btn-white {
    @apply p-2 px-6 text-center text-blue-800 bg-slate-100 rounded-md hover:bg-blue-400 hover:text-blue-100;
}
a.active {
    @apply border-b-slate-100;
}

